<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GGrep.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GGrep.Properties.Settings>
            <setting name="SearchString" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchOnWords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeSubFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeHiddenFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Regex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Encoding" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="CaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileMatch" serializeAs="String">
                <value />
            </setting>
            <setting name="FileNotMatch" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderMatch" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderNotMatch" serializeAs="String">
                <value />
            </setting>
            <setting name="Multiline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterIsCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomEditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomEditorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomEditorArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="TooltipsShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </GGrep.Properties.Settings>
    </userSettings>
</configuration>